{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/admin_login.css' %}">
{% endblock %}


{% block main %}
<header>
    <h1>STUDENT MANAGEMENT SYSTEM</h1>
</header>

<div class="login-box">
    <h2>Admin Login</h2>

    <form method="post">
        {% csrf_token %}

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
        {% if messages %}
            {% for message in messages %}
                <p style="color:red; text-align:center; margin-top:10px;">
                  {{ message }}
            </p>
            {% endfor %}
        {% endif %} 

    </form>

</div>
{% endblock %}
